input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
　　color: #fca08c;
}
body,html{
    background: #fff;
}

//返回顶部按钮
.mescroll-totop{
    bottom: 90px;
}

.m-cell{
    margin-bottom: 0;
}
.msg{
    
    li{
        min-height: 1.5rem;
        color: #666;
        border-bottom: 1px solid #ccc;
    }
    .txt-left{
        float: left;
        padding: .1rem .2rem;
        width: 5.6rem;
        font-size: .22rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        line-height: .4rem;
    }
    .txt-right{
        float: right;
        height: 1.1rem;
        margin: .2rem 0;
        margin-right: .2rem;
        width: 1.4rem;
        font-size: .22rem;
        text-align: right;
        line-height: 1.1rem;
        border-left: 1px solid #ccc;
    }
}












