input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fca08c;
}
body,
html {
  background: #fff;
}
.mescroll-totop {
  bottom: 90px;
}
.m-cell {
  margin-bottom: 0;
}
.msg li {
  min-height: 1rem;
  color: #666;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.msg .txt-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0rem .2rem;
  font-size: .22rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.msg .txt-right {
  margin: .1rem 0;
  margin-right: .2rem;
  width: 1.4rem;
  font-size: .22rem;
  text-align: right;
  line-height: 1rem;
  border-left: 1px solid #ccc;
}
